@using DM
@model FiveDayViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string WeekArray = Model.WeekArray;
}
<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    
    function drawChart() {
        // Define the chart to be drawn.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Close');
        data.addColumn('number', 'Max Value');
        data.addRows(@Html.Raw(WeekArray));

        // Instantiate and draw the chart.
        var chart = new google.visualization.ColumnChart(document.getElementById('WeekHigh'));

        var options = {
            colors: ['green', 'red']
        };

        chart.draw(data, options);
    }
</script>
<style>
    .grid {
        border: solid 2px;
        border-collapse: collapse;
    }
        .grid tr,
        .grid td,
        .grid th {
            border: 1px solid;
            padding: 3px;
        }
</style>



@using (Html.BeginForm("GetFiveDayData", "FiveDay", FormMethod.Get))
{
    <div>@Html.DropDownList("tickerPickList", Model.TickerList)</div>
    <br />

    <div><input type="submit" value="Submit" /></div>
}

<div style="">
    <div style="" id="WeekHigh"></div>
</div>

@{
    if (Model.FiveDayList != null)
    {
        <table class="grid">
            <tr>
                <td>Symbol</td>
                <td>Mon</td>
                <td>Fri</td>
                <td>Open</td>
                <td>Close</td>
                <td>High</td>
                <td>Diff</td>
                <td>Max Dif</td>
            </tr>
            @foreach (var fiveDay in Model.FiveDayList)
            {
                <tr>
                    <td>@fiveDay.Symbol</td>
                    <td>@fiveDay.Monday.ToString("yyyy-MM-dd")</td>
                    <td>@fiveDay.Friday.ToString("yyyy-MM-dd")</td>
                    <td>@fiveDay.Open</td>
                    <td>@fiveDay.Close</td>
                    <td>@fiveDay.High</td>
                    <td>@fiveDay.WeekEndValue</td>
                    <td>@fiveDay.MaxValue</td>
                </tr>
            }
        </table>
    }
}

