@using DM
@model FiveDayViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* <script language="javascript">
    function mySelect() {
        alert(document.getElementById("yourDropName").select());
    }
</script>
<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="border: solid; border-width: 1px; border-color: green;">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>@Html.DropDownList("yourDropName", Model.Tickers, new { @class = "form-control", @onselect = "mySelect();" } )</th>
    </tr>
    <tr>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("Index", "FiveDay", FormMethod.Post))
        {
            <tr><td><input type="submit" value="submit" /></td></tr>
        }
            

        </tbody>
</table> *@

@using (Html.BeginForm("GetFiveDayData", "FiveDay", FormMethod.Get))
{
    <div>@Html.DropDownList("tickerPickList", Model.TickerList)</div>
    <br />

    <div><input type="submit" value="Submit" /></div>
}


@{
    if (Model.FiveDayList != null)
    {
        <table>
            @foreach (var fiveDay in Model.FiveDayList)
            {
                <tr>
                    <td>@fiveDay.Symbol</td>
                    <td>@fiveDay.Monday</td>
                    <td>@fiveDay.Friday</td>
                    <td>@fiveDay.Open</td>
                    <td>@fiveDay.Close</td>
                    <td>@fiveDay.High</td>
                    <td>@fiveDay.WeekEndValue</td>
                    <td>@fiveDay.MaxValue</td>
                </tr>
            }
        </table>
    }
}


  