@model DM.DayHigh
@{
    ViewData["Title"] = "DayHigh";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string array = Model.DhArray;
    string avg = Model.Average;
}
    <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        // Define the chart to be drawn.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'DayHigh');
        data.addColumn('number', 'DayLow');
        data.addRows(@Html.Raw(array));
        
        // Instantiate and draw the chart.
        var chart = new google.visualization.ColumnChart(document.getElementById('DayHigh'));

        var options = {
            colors: ['green', 'red']
        };
        /*
         var options = {
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'Popularity'
        }
      };
 
         */


        //alert(chart);
        chart.draw(data, options);
    }
    </script>
<h2>DayHigh</h2>
<div>
    <table>
        <tr><td>Name</td><td>@Model.Name</td></tr>
        <tr><td>Symbol</td><td>@Model.Symbol</td></tr>
        <tr><td>Average</td><td>@Model.Average</td></tr>
        <tr><td># Days Above Avg</td><td>@Model.DaysAboveAvg</td></tr>
        <tr><td>Days Above Avg</td><td>@Model.PercentDaysAboveAvg%</td></tr>
        <tr><td># Days High Above Open</td><td>@Model.DaysHighAboveOpen</td></tr>
        <tr><td>Days High Above Open</td><td>@Model.PercentHighAboveOpen%</td></tr>
        <tr><td># Days Close Above Open</td><td>@Model.DaysCloseAboveOpen</td></tr>
        <tr><td>Days Close Above Open</td><td>@Model.PercentDaysCloseAboveOpen%</td></tr>
        <tr><td># Records</td><td>@Model.Records</td></tr>
        <tr><td>Standard Deviation</td><td>@Model.StdDev</td></tr>
        <tr><td>Last Close</td><td>@Model.LastClose</td></tr>
        <tr><td>Avg. Volume</td><td>@Model.AvgVolume</td></tr>
    </table>
</div>
<div>
    <div id="DayHigh"></div>
</div>

<div>
    <table cellpadding="3" cellspacing="0" border="1" style="border-color:black;">
        <tr>
            <td>100</td>
            <td>90</td>
            <td>80</td>
            <td>70</td>
            <td>60</td>
            <td>50</td>
            <td>40</td>
            <td>30</td>
            <td>20</td>
            <td>10</td>
        </tr>
        <tr>
            <td>@Model.V100</td>
            <td>@Model.V90</td>
            <td>@Model.V80</td>
            <td>@Model.V70</td>
            <td>@Model.V60</td>
            <td>@Model.V50</td>
            <td>@Model.V40</td>
            <td>@Model.V30</td>
            <td>@Model.V20</td>
            <td>@Model.V10</td>
        </tr>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>