@model TickerViewModel

@{
    ViewData["Title"] = "Ticker";

    string array = Model.GraphData.DhArray;
    string avg = Model.GraphData.Average;
}
<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        // Define the chart to be drawn.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'DayHigh');
        data.addColumn('number', 'DayLow');
        data.addRows(@Html.Raw(array));

        // Instantiate and draw the chart.
        var chart = new google.visualization.ColumnChart(document.getElementById('DayHigh'));

        var options = {
            colors: ['green', 'red']
        };
                       
        chart.draw(data, options);
    }
</script>

<h2>DayHigh</h2>
<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("GetTickerData", "Graph", FormMethod.Get))
{
    <div>@Html.DropDownList("tickerPickList", Model.TickerList)</div>
    <br />
    <div><input type="submit" value="Submit" /></div>
}

<div>
    <table>
        <tr><td>Name</td><td>@Model.GraphData.Name</td></tr>
        <tr><td>Symbol</td><td>@Model.GraphData.Symbol</td></tr>
        <tr><td>Average</td><td>@Model.GraphData.Average</td></tr>
        <tr><td># Days Above Avg</td><td>@Model.GraphData.DaysAboveAvg</td></tr>
        <tr><td>Days Above Avg</td><td>@Model.GraphData.PercentDaysAboveAvg%</td></tr>
        <tr><td># Days High Above Open</td><td>@Model.GraphData.DaysHighAboveOpen</td></tr>
        <tr><td>Days High Above Open</td><td>@Model.GraphData.PercentHighAboveOpen%</td></tr>
        <tr><td># Days Close Above Open</td><td>@Model.GraphData.DaysCloseAboveOpen</td></tr>
        <tr><td>Days Close Above Open</td><td>@Model.GraphData.PercentDaysCloseAboveOpen%</td></tr>
        <tr><td># Records</td><td>@Model.GraphData.Records</td></tr>
        <tr><td>Standard Deviation</td><td>@Model.GraphData.StdDev</td></tr>
        <tr><td>Last Close</td><td>@Model.GraphData.LastClose</td></tr>
        <tr><td>Avg. Volume</td><td>@Model.GraphData.AvgVolume</td></tr>
    </table>
</div>
<div>
    <div id="DayHigh"></div>
</div>

<div>
    <table cellpadding="3" cellspacing="0" border="1" style="border-color:black;">
        <tr>
            <td>100</td>
            <td>90</td>
            <td>80</td>
            <td>70</td>
            <td>60</td>
            <td>50</td>
            <td>40</td>
            <td>30</td>
            <td>20</td>
            <td>10</td>
        </tr>
        <tr>
            <td>@Model.GraphData.V100</td>
            <td>@Model.GraphData.V90</td>
            <td>@Model.GraphData.V80</td>
            <td>@Model.GraphData.V70</td>
            <td>@Model.GraphData.V60</td>
            <td>@Model.GraphData.V50</td>
            <td>@Model.GraphData.V40</td>
            <td>@Model.GraphData.V30</td>
            <td>@Model.GraphData.V20</td>
            <td>@Model.GraphData.V10</td>
        </tr>
    </table>
</div>